<h1>Post#post_question</h1>
<%= form_tag do %>
<table>
<tr>
<td>Question Text:</td>
<td><%= text_field("question", "text") %></td>
</tr>
<td></td>
<td><input type="submit" value=" Post Question" /></td>
</tr>
</table>
<% end %>

