<% @page_title = "Add a User" -%>
<% if flash[:notice] -%>
<%= flash[:notice] -%>
<% end %> 
<%= form_tag do %>
<table>
<tr>
<td>User name:</td>
<td><%= text_field("user", "name") %></td>
</tr>
<tr>
<td>Password:</td>
<td><%= password_field("user", "password") %></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value=" ADD USER " /></td>
</tr>
</table>
<% end %>